<ActionBar>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label [text]="item.name"></Label>
</ActionBar>

<StackLayout>
    <Label class="m-10 h3" verticalAlignment="top" [text]="'Name is: ' + item.name"></Label>
    <Label class="m-10 h3" verticalAlignment="top" [text]="'This item is: ' + item.description"></Label>
    <Label class="m-10 h3" verticalAlignment="top" [text]="'The address is: '+item.address"></Label>
    <Label class="m-10 h3" verticalAlignment="top" [text]="'The time is: '+item.time"></Label>
    <Label class="m-10 h3" verticalAlignment="top" [text]="'This phone number is: ' +item.phone"></Label>
</StackLayout>
