<ActionBar>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label [text]="item.name"></Label>
</ActionBar>

<StackLayout>
    <Label class="m-10 h3" verticalAlignment="top" text = "Name is: " [text]="item.name"></Label>
    <Label class="m-10 h3" verticalAlignment="top"  text = "this item is: "[text]="item.description"></Label>
    <Label class="m-10 h3" verticalAlignment="top"  text = "the address is: "[text]="item.address"></Label>
    <Label class="m-10 h3" verticalAlignment="top"  text = "the time is: "[text]="item.time"></Label>
    <Label class="m-10 h3" verticalAlignment="top"  text = "this phone number is: "[text]="item.phone"></Label>
</StackLayout>
