<ActionBar>
       <Label text="Action Menu"></Label>
       <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
   </ActionBar>
   <ScrollView orientation="vertical">
   <StackLayout class = "Questions" [formGroup]="form" VerticalOption = FillAndExpand>
       <button text = "delete or switch" (tap)= "onSwitch()"></button>
          <StackLayout *ngIf= dona class = "adding" [formGroup]="form">


                   <Label class ="label"
                     [ngClass]="{invalid: nameControlValid }"
                   ></Label>
                   <TextField
                        hint="Enter name here"
                        class = "input"
                        returnKeyType="next"
                        required
                        formControlName="name"
                        #nameEL
                   ></TextField>
                   <label *ngIf="!nameControlValid" text ="please enter a Name"></label>

                   <Label class ="label"
                       [ngClass]="{ invald: itemControlValid }"
                   ></Label>
                   <TextField
                        hint="Enter item here"
                        class = "input"
                        returnKeyType="next"
                        formControlName="item"
                        #itemEL
                   ></TextField>
                   <label *ngIf="!itemControlValid" text ="please enter a Item"></label>

                   <Label class ="label"
                       [ngClass]="{ invald: addressControlValid }"
                   ></Label>
                   <TextField
                        hint="Enter address here"
                        class = "input"
                        returnKeyType="next"
                        formControlName="address"
                        #addressEL
                   ></TextField>
                   <label *ngIf="!addressControlValid" text ="please enter a valid Address"></label>

                   <DatePicker class = "datePicked" year="2020" month="4" day="20"
                        [minDate]="minDate" [maxDate]="maxDate"
                        (dateChange)="onDateChanged($event)"
                        (dayChange)="onDayChanged($event)"
                        (monthChange)="onMonthChanged($event)"
                        (yearChange)="onYearChanged($event)"
                        (loaded)="onDatePickerLoaded($event)"
                        verticalAlignment="center">
                    </DatePicker>



                   <Label class ="label"
                       [ngClass]="{ invald: timeControlValid }"
                   ></Label>
                   <TextField
                        hint="Enter time and add Am or PM , EX:  4 PM"
                        class = "input"
                        returnKeyType="next"
                        formControlName="time"
                        #timeEL
                   ></TextField>
                   <label *ngIf="!timeControlValid" text ="please enter a Time"></label>

                   <Label class ="label"
                       [ngClass]="{ invald: phoneControlValid }"
                   ></Label>
                   <TextField
                        hint="Enter phone number as XXXXXXXXXX"
                        class = "input"
                        keyboardType="phone"
                        returnKeyType="done"
                        formControlName="phone"
                        #phoneEL
                   ></TextField>
                   <label *ngIf="!phoneControlValid" text ="please enter a phone number with area code "></label>


                 <Button class = "butto" text="Make a new Donation" (tap)="local()" ></Button>
                 <Button *ngIf = !notChanged class ="butto" text="Delete the Donation you just made" (tap) = "unLocal()"></Button>
                 <Button class = "butto" [disabled] = !notChanged text="All Set" (tap)="onSend()" ></Button>
          </StackLayout>
          <StackLayout *ngIf="!dona" class = "dele">
            <label text = "Enter Number you want deleted here" ></label>
            <Label class ="label"
                         [ngClass]="{ invald: deleteControlValid }"
            ></Label>

            <label *ngIf="!deleteControlValid" text ="please enter a number you want to delete"></label>
                  <TextField hint="Enter Number you want deleted here"
                      [text]='deleteNum'
                      keyboardType="datetime"
                      returnKeyType="done"
                      (textChange)="onReturnPressD($event)"
                  ></TextField>
            <Button text = 'press to delete the number entered' (tap)="delete()"  [isEnabled] = "!dona"></Button>
            </StackLayout>
          <label text = "Hit All set after any changes" ></label>

   <!-- <Button text="Refresh List " (tap)="onRefresh()" ></Button> -->
   <!-- help -->
   </StackLayout>
</ScrollView>

