<ActionBar title="topmost">
    <GridLayout>
    <!-- <Label text="Good as Gold"></Label> -->
    <Label class = title text="Profile"></Label>
        <FlexboxLayout>
            <Button text="actions" [nsRouterLink]="['../action']" pageTransition="slide" ></Button>
            <Button class = "refresh" text="refresh " (tap)="refresh()" ></Button>
        </FlexboxLayout>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content">
    <!-- <Button class = "Find Length" text="refresh " (tap)="length()" ></Button> -->
    <!-- Button class = "sending to server" text="refresh " (tap)="test()" ></Button> -->
    <label text = "Hello from Auth"> </label>
</StackLayout>



