<ActionBar>
    <Label text="Action Menu"></Label>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<StackLayout>
    <label text = "Adding Your Items"></label>
    <div class = actioner>
        <TextField hint="Enter Name"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> --> -->
        var Name = textFeild.text;
        <TextField hint="Enter Item"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var Item = textFeild.text;
        <TextField hint="Enter Time"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var Time = textFeild.text;
        <TextField hint="Enter address"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var address = textFeild.text;
        <TextField hint="Enter phone"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var phone = textFeild.text;


        <Button text="Make new Item" (tap)="onTap(Name, Item,address,Time,phone)" ></Button>

    </div>
    <!-- Local -->
    <div class = actioner>
        <TextField hint="Enter Name"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> --> -->
        var Name = textFeild.text;
        <TextField hint="Enter Item"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var Item = textFeild.text;
        <TextField hint="Enter Time"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var Time = textFeild.text;
        <TextField hint="Enter address"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var address = textFeild.text;
        <TextField hint="Enter phone"></TextField>
        <!-- <TextField input type="text" name="serial" id="serial" [(ngModel)]="serial" [value]="serial" class="form-control"> </TextField> -->
        var phone = textFeild.text;


        <Button text="Make new Item Local" (tap)="onTap2(Name, Item,address,Time,phone)" ></Button>

    </div>

    <div>
        <label text = "The amount of members in Items is : items.length" ></label>
        <Button text="Get length" tap="getLength()" ></Button>
        <label text = "Send all button below" ></label>
        <Button text="send it all" (tap)="onSend()" ></Button>

        <Button text="refresh" (tap)="refresh()" ></Button>
    </div>

</StackLayout>
