
<FlexboxLayout class = "Page">
<ActionBar>
    <Label text="Events"></Label>
</ActionBar>
<!-- [nsRouterLink]="['/tabs']" -->

<!-- <Label [text]="isLogin ? 'Login' : 'Signup'"></Label> -->

    <Image class="logo" src = "~/app/login/golden.jpg"></Image>
<StackLayout class = "form1" [formGroup]="form">
    <Label class ="label"
    [ngClass]="{ invald: !emailControlIsValid }"
    ></Label>
    <!-- Email Login -->
    <TextField hint="Enter Email"
           class ="input"
           keyboardType="Email"
           returnKeyType="next"
           [autocorrect]="false"
           autocapitalizationType="none"
           formControlName="email"
           #emailEL
           >
    </TextField>
    <label *ngIf="!emailControlIsValid" text ="please enter a valid Email"></label>

    <!-- Password entrery -->
    <Label class ="label"
     [ngClass]="{ invald: !passwordControlIsValid }"
    ></Label>
    <TextField hint="Enter Password with atleast 6 characters"

           secure="false"
           keyboardType="Email"
           returnKeyType="done"
           [autocorrect]="false"
           [secure] ="true"
           autocapitalizationType="none"
           formControlName="password"
           #passwordEL>
    </TextField>

    <label *ngIf="!passwordControlIsValid" text ="please enter a valid password that is 6 characters long"></label>
    <!-- <label *ngIf="!passwordControlIsValid" text ="please enter a valid Email"></label> -->
    <Button class ="btn btn-flat" [text]="isLogin ? 'Signup instead' : 'Login instead'" (tap) = "onSwitch()"></Button>

    <Button class ="btn btn-flat" [text]="isLogin ? 'Login' : 'Signup'" (tap) = "onSubmit()"
    [isEnabled] ="form.valid"
    *ngIf = "!isLoading"
    ></Button>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    <Button class ="btn btn-flat" text="Tabs" (tap) = "toTabs()"></Button>

    <!-- <Button class ="btn btn-flat" text="admin" (tap) = "getAdmin()"></Button> -->
</StackLayout>
</FlexboxLayout>

