<ActionBar class = "title">
    <!-- <GridLayout> -->

        <GridLayout>
            <Label class = "titleText" text="Good as Gold"></Label>
            <button class = "command" text = Options (tap) = "toggleMenu()"></button>

        </GridLayout>
    <!-- </GridLayout> -->
</ActionBar>

<StackLayout  *ngIf ="!menuIsOpen"   class="page__content" >
    <!-- <Button class = "Find Length" text="refresh " (tap)="length()" ></Button>
    Button class = "sending to server" text="refresh " (tap)="test()" ></Button> -->

    <StackLayout  class = "GoldMsg">
        <label text = "Golden Message" class = "header"></label>
        <label class = "mess" *ngIf="firstTime" text = "Hit Options and refresh for lastest Message!"></label>
        <label class = "mess" [text] = "goldMsg" textWrap = "true"></label>
    </StackLayout>


    <StackLayout class = ff>
        <label text = "Our Current Event" class = "header"></label>
        <label class = "mess" [text] = "currentEvent" textWrap = "true"></label>
    </StackLayout>

    <StackLayout class = ff>
        <label text = "Our Mission" class = "header"></label>
        <label class = "mess" [text] = "missionStatement" textWrap = "true"></label>
    </StackLayout>

    <StackLayout class = ff>
        <label text = "Shout out to our sponsors" class = "header"></label>
        <label class = "mess" [text] = "sponsors" textWrap = "true"></label>
    </StackLayout>
</StackLayout>

    <StackLayout *ngIf ="menuIsOpen"  >


        <Button class = "command" text="Admin" [nsRouterLink]="['../edit']" pageTransition="slide" ></Button>

        <Button class = "command" text="refresh " (tap)="refresh()" ></Button>

        <Button class = "command" text="Log Out " [nsRouterLink]="['']"> </Button>

        <Button text="close menu" class="menu-item" (tap)= "toggleMenu()"></Button>

    </StackLayout>


