<ActionBar title="topmost">
    <GridLayout>

    <Label class = title text="Good as Gold"></Label>
        <FlexboxLayout>
            <Button text="edit" [nsRouterLink]="['../edit']" pageTransition="slide" ></Button>
            <Button class = "refresh" text="refresh " (tap)="refresh()" ></Button>
        </FlexboxLayout>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content">
    <!-- <Button class = "Find Length" text="refresh " (tap)="length()" ></Button>
    Button class = "sending to server" text="refresh " (tap)="test()" ></Button> -->
    <div class = "GoldMsg">

        <label class = ff [text] = "goldMsg" textWrap = "true"></label>

    </div>

    <div class = "CurrentEvent">
        <label class = ff [text] = "currentEvent" textWrap = "true"></label>
    </div>

    <div class = "MissionStatement">
        <label class = ff [text] = "missionStatement" textWrap = "true"></label>
    </div>

    <div class = "sponsors">
        <label class = ff [text] = "sponsors" textWrap = "true"></label>
    </div>

</StackLayout>

