.div {
    padding-top: 1px;
}



.ff {

    align-items: center;
    border-width: 2px;
    border-color: gold;

}

.GoldMsg {

    align-self: center;
    align-items: center;
    border-width: 2px;
    border-color: gold;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.mess{
    text-align: center;
}
