<ActionBar class = "title">
    <Label text="Edit Menu"></Label>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<StackLayout class = form [formGroup]="form">

    <label *ngIf="admin" text ="Welcome to the Edit Menu for the Messeges"></label>
    <label *ngIf="!admin" class="miniTitle" text ="Sorry You are not an Admin, enter admin Password in log or contact Golden Boys"></label>
    <!-- Email Login -->
    <button text= "are you admin" (tap) = "isAdmin()"></button>
    <button text= "Check Again" (tap) = checkAgain();></button>

    <StackLayout *ngIf="admin" class = "form1" [formGroup]="form">
    <Label class ="label"
        [ngClass]="{ invald: !emailControlIsValid }"
    ></Label>
    <TextField
        class ="input"
        returnKeyType="done"
        keyboardType="Email"
        [autocorrect] = "false"
        autocapitalizationType="none"
        formControlName="email"
        #emailEL
    ></TextField>

    <label *ngIf="!emailControlIsValid" text ="please enter a valid Email"></label>

    <Button text="admin" (tap) = "makeAdmin()" ></Button>
    </StackLayout>
</StackLayout>
