/* Add mobile styles for the component here.  */
.title {
    color: black;
    background-color: gold;
}

.form {
    background-color: lightgray;
    color: black;
}

.miniTitle{
    color: black;
    text-align: center;
}
