<!-- <ActionBar>
    <Label text="Events"></Label>
</ActionBar>

<StackLayout height="100%"  class="m-15" backgroundColor="lightgray"> -->

    <!-- Image with CSS and an icon fonts -->

    <!-- Image with stretch property ("none", "aspectFill" and "aspectFit") -->

    <!-- <Image src="~/app/search/beach.jpg" stretch="aspectFill"></Image>
</StackLayout> -->


<!-- <img class="BigEvent" src="./beach.jpg"> -->

<StackLayout>
    <Image src="~/app/search/beach.jpg" stretch="aspectFill"></Image> -->
    <label text = "Hello from home COmpo"></label>
    <label text = "Hello from home COmpo"></label>
    <label text = "Hello from home COmpo"></label>
    <label text = "Hello from home COmpo"></label>
</StackLayout>
