<ActionBar class = "title">
    <GridLayout>
    <Label class = ff text="Events"></Label>
    <button class = "command" text = Options (tap) = "toggleMenu()"></button>
</GridLayout>
</ActionBar>

<!--

<StackLayout height="100%"  class="m-15" backgroundColor="lightgray"> -->

    <!-- Image with CSS and an icon fonts -->

    <!-- Image with stretch property ("none", "aspectFill" and "aspectFit") -->

    <!-- <Image src="~/app/search/beach.jpg" stretch="aspectFill"></Image>
</StackLayout> -->


<!-- <img class="BigEvent" src="./beach.jpg"> -->


<StackLayout *ngIf ="!menuIsOpen"  class="page__content">
    <Image class = "pic" [width] = devWidth [height]= devHeight src="~/app/search/box.jpg" stretch="aspectFit"></Image>
</StackLayout>

<StackLayout *ngIf ="menuIsOpen"  >

    <Button class = "command" text="Log Out " [nsRouterLink]="['']"> </Button>

    <Button text="close menu" class="menu-item" (tap)= "toggleMenu()"></Button>

</StackLayout>


