<ActionBar class = "title">
    <!-- <GridLayout> -->

        <FlexboxLayout class = "but">
            <Button class = "command" text="Options" [nsRouterLink]="['../action']" pageTransition="slide" ></Button>
            <Label text="Donations"></Label>
            <Button class = "command" text="refresh " (tap)="refreshItems()" ></Button>
        </FlexboxLayout>
    <!-- </GridLayout> -->

</ActionBar>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    This is not used, for example
</GridLayout> -->

<GridLayout class = "page__content">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.id + '. Name: ' +item.name"></Label>

            </StackLayout>
        </ng-template>
    </ListView>

</GridLayout>

<!-- <StackLayout>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
</StackLayout> -->





