<ActionBar title="topmost">
    <GridLayout>
    <Label text="Home"></Label>
        <FlexboxLayout>
            <Button text="actions" [nsRouterLink]="['../action']" pageTransition="slide" ></Button>
        </FlexboxLayout>
    </GridLayout>
</ActionBar>

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->

<GridLayout class = "itemHolder">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>

            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>




