<!-- <ActionBar title="topmost">
    <GridLayout>
    <Label text="Donations"></Label>
        <FlexboxLayout>
            <Button text="actions" [nsRouterLink]="['../action']" pageTransition="slide" ></Button>
            <Button class = "refresh" text="refresh " (tap)="refreshItems()" ></Button>
        </FlexboxLayout>
    </GridLayout>

</ActionBar> -->

<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    This is not used, for example
</GridLayout> -->

<!-- <GridLayout class = "itemHolder">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.id + '. Name: ' +item.name"></Label>

            </StackLayout>
        </ng-template>
    </ListView>

</GridLayout> -->
<StackLayout>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
<label text = "Hello from home COmpo"></label>
</StackLayout>





